.top{
	background-color: #A6D2DB;
}

.green{
	background-color: #9AD3A6;
}

.grey{
	background-color: #F0F0F0;
}

.pink{
	background-color: #E0B5C6;
}

.blue{
	background-color: #B4D4DF;
}

.footer{
	background-color: #3C3C3C;
}